<div class="info">
<%= form_for @user_signup, {url: users_path}  do |u| %>
		<%= u.text_field :name, placeholder: "create a username" %><br />
		<%= u.password_field :password, placeholder: "create a password" %><br />
		<%= u.password_field :password_confirmation, placeholder: "retype the password" %>
		<%= u.submit "Creat My Account!" %>
		<br />
	<%= link_to "Back to the homepage!", foodiepictures_path %>
</div>
<% end if !current_user %>