<!DOCTYPE html>
<html>
<header>
	<link href='http://fonts.googleapis.com/css?family=Unkempt:700' rel='stylesheet' type='text/css'>
</header>
<head>
  <title>Foodiewall</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="heading">
		<h1>Foodie Wall</h1>

		<% if current_user %>
		Welcome! <%= current_user.name %>
		<p><%= link_to 'log out', session_path, method: :delete %>
		<% else %>
		<p><%= link_to 'sign up', new_user_path %></p>
		<p><%= link_to 'log in', new_session_path %>
		<% end %></p>
	</p>

    </div>

			<%= yield %>



</body>
</html>
