<h2>What do you wanna edit?</h2>
<%= form_for @foodiepicture do |f| %>
  <%= f.file_field :image %>
  <%= f.text_field :description %>
  <%= f.submit "Update!" %>
<%= link_to "Cancel Edit", foodiepictures_path %>
<% end %>