<h1>FoodieWall</h1>



<p>
	<%= link_to "Upload new food!", new_foodiepicture_path %>
</p>
<ul>
	<li>
		<%= @foodiepictures.each do |p| %>
		    <%= image_tag p.image.url %> 
		    <%= p.description %>
		    <%= link_to "Check out this deliciousness!", foodiepicture_path(p) %>
		    <%= link_to "Edit", edit_foodiepicture_path(p) %>
		    <%= link_to "Delete", foodiepicture_path(p), method: :delete, data: { confirm: "Are you sure you want to delete #{p.description}?"} %>
		    <br />
        <% end %>
    </li>

</ul>