<h2>What do you eat today?</h2>
<%= form_for @foodiepicture do |f| %>
  <%= f.file_field :image %>
  <%= f.text_field :description %>
  <%= f.submit "Upload" %>
<%= link_to "Cancel Upload", foodiepictures_path %>
<% end %>